@model IEnumerable<Customer_Details.Models.PersonalDataDetail>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Add New Customer", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person_Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person_Occupation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person_Mail)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person_Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person_Occupation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person_Mail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.Person_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Person_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Person_ID })
            </td>
        </tr>
    }

</table>
<br />
<a href="http://localhost:61388/CascadingDropDownList/Index">Cascading DropDownList</a>
<br />
<div>
    @Html.ActionLink("Log Out", "Login")
</div>


